.product-catalog__title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
    color: #515076;
    padding-top: 220px;
    padding-bottom: 110px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    list-style: none;
    margin-bottom: 116px;
}

.product-card {
    max-width: 340px;
    background: #f7f7fa;
    padding: 25px;
    box-shadow: 2px 2px 10px rgba(81, 80, 118, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card,
.product-cards-btn-style {
    transition: background-color 0.3s ease;
}

.product-cards-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.product-cards-btn-style {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #114e5c;
    color: #fff;
    border: none;
    cursor: pointer;
}

.bg-orange {
    background-color: #ba4c03;
    transition: background-color 0.3s ease;
}

.product-card__img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    display: block;
}

.skin-type {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a3b9;
    margin-bottom: 5px;
}

.product-card__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 5px;
    color: #515076;
}

.product-card__desc {
    font-size: 13px;
    line-height: 1.38;
    color: #515076;
    margin-bottom: 15px;
}

.compound {
    margin-top: 15px;
    margin-bottom: 25px;
}

.compound__name {
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
}

.compound__list {
    margin-left: 15px;
    color: #515076;
}

.compound__list li {
    margin-bottom: 3px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.price__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.price__tag {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.price__tag:hover {
    color: #000;
}