.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.price__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.price__tag {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.price__tag:hover {
    color: #000;
}